<html>
    <head>
        <title>Senketsu</title>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./index.css" />
    </head>
    <body>
        <div class="flex-container">
            <div class="upload-container">
                <form action="upload" method="post" enctype="multipart/form-data">
                    <input type="file" id="gif" accept="image/gif, video/mpeg, video/webm" name="file" />
                    <label for="gif">Browse Files</label>
                    <input type="submit" name="submit">
                </form>
            </div>
        </div>
    </body>
</html>
