/* palette: https://coolors.co/edf2f4-ff7751-a8a8a8-80b0b0-011d27 */
body {
    font-family: 'Poppins', sans-serif;
}

main {
    margin: 2em;
}

[type="file"] {
    clip: rect(0, 0, 0, 0);
    position: absolute;
}

[type="file"] + label {
    cursor: pointer;
    display: inline-block;
}
