<html>
    <head>
        <title>Senketsu</title>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./index.css" />
    </head>
    <body>
        <div class="flex-container">
            <div class="upload-container">
                {{ range .images }}
                    <img src="{{ .GetURI }}" />
                {{ end }}
                {{ range .errs }}
                    <p>
                        {{ .error }}
                    </p>
                {{ end }}
            </div>
        </div>
    </body>
</html>
